.trbFont{
    font-family: 'Trebuchet MS';
}
.btnGeneral{
    background-color: rgba(245,245,245,0.1);
    color: #6e7b81;
}
.PageHeader{
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #10253F;
    font-family: 'Trebuchet MS';
    padding: 3px 3px 3px 3px;
  }