*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.PageHeader{
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: #10253F;
}

hr{
  border-color: white;
}