<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/scorpioLogoDarkBlue.svg', width: 130, height: 30, alt: 'Scorpio Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/scorpioLogoDarkBlue.svg', width: 30, height: 30, alt: 'Scorpio Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="' '"
  [mobileAsideMenuToggler]="' '" >
    <ul class="nav navbar-nav ml-auto">
      <!-- Keep sidebar toggler next to brand name -->
      <button class="btn-default btn">Log out</button>
      <button class="btn ">User589</button>
    </ul>
</app-header>
